<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>指令</title>
    <link href="../style/common.css" rel="stylesheet" />
    <script src="../framework/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1 v-show="isShow1">isShow1=true</h1>
        <h1 v-show="isShow2">isShow2=false</h1>

        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>

        <table>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
            </tr>
            <tr v-for="(user,index) in users">
                <td>{{ index + 1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.age + "岁" }}</td>
                <td>{{ user.sex | filterSex }}</td>
            </tr>
        </table>

        <ul>
            <li v-for="(val,key) in user">{{ key + ':' + val }}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                isShow1: true,
                isShow2: false,
                type: 'B',
                users: [
                    { 'name': '齐德龙', age: 18, sex: 0 },
                    { 'name': '齐东强', age: 19, sex: 0 },
                    { 'name': '陈桂荣', age: 20, sex: 1 },
                    { 'name': '贾小良', age: 21, sex: 1 },
                ],
                user: {
                    "姓名": "张三",
                    "年龄": "80",
                    "性别": "男",
                },
                nums: [1, 1, 1]
            },
            filters: {
                filterSex: function (value) {
                    var sex = ['男', '女'];
                    return sex[value];
                }
            }
        });
    </script>
</body>

</html>